header {
    position: relative;
    z-index: 10;
    background: #fff;
    border-bottom: .1em solid #eee;
}

.header-logo img {
    width: 120px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}

.header-menu {}

.header-menu ul {
    display: flex;
    align-items: center;
}

.header-search {
    font-size: 22px;
    color: #888;
}

.header-menu ul li a.active::after {
    content: '';
    background: #eee;
    width: 80%;
    position: absolute;
    height: 5px;
    left: 8px;
    bottom: -10px;
}

.header-menu ul li a {
    position: relative;
    font-weight: 700;
    color: #222;
    font-size: 18px;
    line-height: 1;
    padding: 0 15px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider-con {
    height: 530px;
    display: flex;
    background: #fff;
    align-items: center;
    position: relative;
}

.slider-img {
    background-image: url(img/Photo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 900px;
    right: 0;
    top: 0;
    z-index: 1;
    position: absolute;
}

.silder-text {
    padding: 0 100px;
    position: relative;
    z-index: 2;
}

.silder-text {
    display: flex;
    align-items: flex-end;
}

.slider-count {
    padding: 10px;
    width: 120px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 40px;
    margin-right: 20px;
    height: 120px;
    margin-bottom: 20px;
    background: #A9D9ED;
}

.slider-head {
    font-weight: 700;
}

.slider-head h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: #A9D9ED;
    left: 0;
    bottom: -20px;
}

.slider-head h1 {
    font-size: 72px;
    width: 570px;
    line-height: 1;
    position: relative;

}

.slider-head span {
    font-size: 18px;
    font-weight: 300;
}

.cur {
    position: relative;
    padding: 130px 150px;
    padding-bottom: 100px;
}

.cur-con {
    display: flex;
    align-items: center;
    position: relative;
}

.cur-one {
    flex-basis: 50%;
}

.cur-one h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #9ca2b4;

}

.cur-one p {
    font-size: 13px;
    line-height: 30px;
    color: #9ca2b4;
}

.cur-two {
    flex-basis: 50%;
    padding: 0 60px;
}

.cur-two-head {
    font-size: 72px;
    font-weight: 800;
    color: #000;
    width: 500px;
    z-index: 4;
    position: relative;
}

.cur-two::before {
    content: '';
    position: absolute;
    right: -150px;
    bottom: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    border: 10px solid #97D1EB;
    border-right: 0;
}

.cur-two::after {
    content: '';
    background-image: url(img/Photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -150px;
    top: -90px;
    z-index: -1;
    width: 50%;
    height: 140%;
}

.cat {
    position: relative;
    z-index: 1;
}

.cat-con {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.cat-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #222;
    opacity: 0.8;
   z-index: 9;
}

.cat-box {
    height: 450px;
    flex-basis: 25%;
    position: relative;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;

}

.cat-img1 {
    background-image: url(img/Photo-1.png);
}

.cat-img2 {
    background-image: url(img/Photo-2.png);
}

.cat-img3 {
    background-image: url(img/Photo-3.png);
}

.cat-img4 {
    background-image: url(img/Photo-4.png);
}

.cat-box h4 {
    position: relative;
    color: #fff;
    z-index: 10 !important;
    display: block;
    font-weight: 600;
}
.cat-box:hover::after{
    border: 15px solid #97D1EB;
    content: '';
    width: 90%;
    height: 90%;
    top: 20px;
    left: 10px;
    z-index: 8
}
.cat-con{
    position: relative;
}
.work{
 position: relative;
    padding: 50px 0px;
}
.project-head,
.work-head{
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #97d1eb;
    letter-spacing: 3px;
    font-size: 13px;
    position: relative;
    width: 300px;
    margin: auto;
}
.project-head::after,
.work-head::after{
    content: '';
    width: 200px;
    background: #97d1eb;
    height: 1px;
    position: absolute;
    right: -150px;
    bottom: 50%;
}
.project-head::before,
.work-head::before{
    content: '';
    width: 200px;
    background: #97d1eb;
    height: 1px;
    position: absolute;
    left: -150px;
    bottom: 50%;
}
.work-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    background-image: url(img/Photowhite-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 900;
    font-size: 40px;
}
.work-box{
    position: relative;
}
.work-box::after{
    content: '';
    position: absolute;
    z-index: -1;
    color: #fff;
    text-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-size: 200px;
    top: -220%;
    left: 15%;
}
.work-box-1::after{
    content: '1';
}
.work-box-2::after{
    content: '2';
}
.work-box-3::after{
    content: '3';
}
.project{
    position: relative;
    z-index: 1;
    padding: 50px 0px;
}
.project-head{
    padding-bottom: 80px;
}
.project-con{
    display: flex;
    align-items: center;
}
.project-img img{
    width: 600px;
    height: 400px;
}
.project-img{
    flex-basis: 50%;
}
.project-des .project-heading{
    font-size: 48px;
    color: #000;
    font-weight: 900;
    line-height: 1.3;
}
.project-des p{
    color: #9ca2b4;    font-size: 13px;
    line-height: 30px;
    margin: 20px 0;
}
.project-button{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 25px;
    border: 1px solid #9ca2b4;
    color: #9ca2b4;
}
.project-des{
    flex-basis: 50%;
    padding-right: 200px;
}
.project-gallery{
    padding-top: 10px;
}
.project-gallery-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-gallery-img img{
    width: 150px;
    height: 100px;
    padding: 0 5px
}